body{margin: 0;text-align: center;font-family: 'Roboto', sans-serif;}
/* navigation bar      */
.navigation-bar{overflow: hidden;height: 70px;width: 100%;background-color: black;
}
.brand{margin-left: 40px;width: 80px;height: 50px;float: left;padding: 12px 16px;
}
.navigation-bar a{
  float: left;color: #f2f2f2;padding: 25px 16px;text-decoration: none;font-size: 20px;
}
/* textarea */
.head{height: 1.7vw;background-color: #707070;width: 50vw;display: block;margin: 10px auto;resize: none;color: white;font-size: 19px}
.textArea{min-height: 20vw;width: 60vw;background-color: #dddddd;border: 1px solid black;margin: auto;margin-top: 10px;
}
.head2{height: 15vw;background-color: #707070;width: 50vw;display: block;margin: auto;resize: none;color: white;font-size: 19px;
}
.textArea button{margin: 25px;background-color: #0278ae;border: none;font-size: 1.2vw;border-radius: 20px;height: 2vw;width: 7vw;color: white;
}
/* notes */
.yourNotes{height: 20vw;width: 70vw;margin: auto;text-align: left;
  }
h3{
  margin: 0;
}
.an{background-color: #dddddd;min-height: 10vw;width: 22vw;border: 1px solid black;display: inline-block;margin: 5px;text-align:center;}
.an button{background-color: #0278ae;border: none;font-size: 1.3vw;border-radius: 20px;height: 2vw;width: 8vw;color: white;margin-bottom: 3px;}
.an textarea{display: block;height: 6vw;background-color: #707070;width: 20vw;color: white;margin: 5px auto;resize: none;font-size: 16px;}
